<ion-header>
  <ion-toolbar>
    <ion-title><h1>Login</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="B">
    <ion-item>
      <ion-label>Email/Telefone</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>
      <ion-item>
        <ion-label>Senha</ion-label>
        <ion-input placeholder=""></ion-input>
      </ion-item>
    <div class="c">
    <ion-button>Entrar</ion-button>
    </div>
  </ion-card>
  <div class="D">
    <ion-button [routerLink]="['/home']">Ir para Cadastro</ion-button>
    </div>
</ion-content>
